body {
  font-family: sans-serif;
  background-color: #e5e5e5;
}
.app {
  width: 300px;
  height: 500px;
  border: 5px solid #abcea1;
  border-radius: 8px;
  background-color: white;
}

#addNew {
  display: flex;
  background-color: rgba(171, 206, 161, 0.35);
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.fa-plus {
  background-color: #abcea1;
  padding: 3px;
  border-radius: 3px;
}

#tasks div {
  background-color: #e2eede;
  border: 3px solid #abcea1;
}